img{
    max-width: 500px;
    max-height: 500px;
}

.container{
    display: flex;
    flex-direction: row;
}

.image{
    margin:100px;
}

.text{
    margin:180px 100px;
}

table{
    border: 3px solid #4b6a75;
}

th,td {
    border: 1px solid #4b6a75;
    padding: 8px 10px;
}

.avantage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    text-align: center;
}